*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/cover.png');
    background-size: cover;
}

.login__container{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(220, 220, 220, .5);
    border-radius: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.login__container input{
    display: block;
    width: 100%;
    background: rgba(240, 240, 240, .5);
    border: none;
    font-size: 16px;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    color: #555;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.login__container button{
    display: block;
    width: 100%;
    background: #3ea175;
    border: none;
    font-size: 16px;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.login__container button:hover{
    opacity: .8;
    cursor: pointer;
}

.login__container h1{
    color:  #555;
    margin: 10px auto;
    opacity: .7;
    text-align: center;
}

.text-danger{
    color: red;
    /* color:  #555; */
    margin: 10px auto;
    opacity: .7;
    text-align: center;
}
